<aside class="aside-nav">
  <section>
    <article class="logo-article">
      <figure class="top-logo">
        <img src="/assets/images/logo-fc.webp" alt="" />
      </figure>
    </article>
    <article
      class="item <%= currentPage === 'home' ? 'active' : '' %>"
      id="players"
    >
      <a href="/">
        <i class="fa-solid fa-house"></i>
        <p>home</p>
      </a>
    </article>
    <article
      class="item <%= currentPage === 'players' ? 'active' : '' %>"
      id="players"
    >
      <a href="/players">
        <i class="fa-solid fa-users"></i>
        <p>players</p>
      </a>
    </article>
    <article
      class="item <%= currentPage === 'leagues' ? 'active' : '' %>"
      id="leagues"
    >
      <a href="/leagues">
        <i class="fa-solid fa-trophy"></i>
        <p>leagues</p>
      </a>
    </article>
    <article class="item <%= currentPage === 'settings' ? 'active' : '' %>">
      <a href="/settings">
        <i class="fa-solid fa-gears"></i>
        <p>settings</p>
      </a>
    </article>
    <article class="item <%= currentPage === 'logout' ? 'active' : '' %>">
      <a href="/logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>logout</p>
      </a>
    </article>
  </section>
</aside>
