<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-fc.webp" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <title>MileStone3</title>
  </head>
  <body>
    <%- include("partials/aside") %>
    <main class="home">
      <h5>Welcome to <strong>MileStone3 !</strong></h5>
      <!-- <section class="top-home"></section> -->
      <section class="dash-home">
        <a href="/players">
          <article class="home-item">
            <h1>amount of players</h1>

            <h4><%= numberOfPlayers %></h4>
          </article>
        </a>
        <a href="/leagues">
          <article class="home-item">
            <h1>amount of leagues</h1>

            <h4><%= numberOfLeagues %></h4>
          </article>
        </a>
        <article class="home-item home-item2">
          <h1>Limit Date:</h1>

          <h4>sunday, 5 mei 2024, 23:59</h4>
        </article>
      </section>
      <br />
      <article class="home-item">
        <h4>App progress <%= percentage %>%</h4>
        <div class="progress-bar">
          <div class="progress" style="width: <%= percentage %>%"></div>
        </div>
      </article>
    </main>
  </body>
</html>
