<%- include("partials/head") %> <%- include("partials/aside") %>
<main>
  <a href="/milestone/leagues"
    ><i class="fa-solid fa-arrow-left-long"></i> Go back</a
  >

  <section class="details-container">
    <div
      class="detail-img"
      style="background-image: url('<%= league.imageURL %>')"
    ></div>
    <div>
      <h1 class="head-title">
        <%= lname %>
        <div
          id="active"
          class="<%= lactive === 'active' ? 'player-active' : 'player-inactive' %>"
        >
          <div
            class="icon <%= lactive === 'active' ? 'player-active' : 'player-inactive' %>"
          ></div>
        </div>
      </h1>

      <p class="details-player">
        <i class="fa-solid fa-calendar-days"></i
        ><strong>Last Updated: <%= lupdated %> </strong>
      </p>

      <p class="details-player">
        <i class="fa-solid fa-earth-americas"></i
        ><strong>Country: <%= lcountry%> </strong>
        <td></td>
      </p>

      <span class="marketValue"
        ><i class="fa-solid fa-money-bill-transfer"></i>: <%= lvalue%>
      </span>
    </div>
  </section>
</main>

<%- include("partials/footer") %>
