<%- include("partials/head") %> <%- include("./partials/aside") %>
<main class="main-player">
  <a href="/milestone/players"
    ><i class="fa-solid fa-arrow-left-long"></i> Go back</a
  >
  <!-- <h1><%= player.name %></h1> -->
  <section class="details-container">
    <div
      class="detail-img"
      style="background-image: url('<%= player.imageURL %>')"
    ></div>
    <div>
      <h1 class="head-title">
        <%= player.name %>
        <div
          id="active"
          class="<%= player.status === 'active' ? 'player-active' : 'player-inactive' %>"
        >
          <div
            class="icon <%= player.status === 'active' ? 'player-active' : 'player-inactive' %>"
          ></div>
        </div>
        <span class="edit">
          <a href="/milestone/players/<%=   fullName %>/edit">
            <i class="fa-solid fa-highlighter fa-2xs light-hover edit-icon"></i>
          </a>
        </span>
      </h1>

      <p class="details-player">
        <i class="fa-solid fa-calendar-days"></i
        ><strong>Birth Date: </strong> <%= player.birthdate %>
      </p>
      <p class="details-player">
        <i class="fa-solid fa-cake-candles"></i><strong>Âge: </strong> <%=
        player.age %>
      </p>
      <p class="details-player">
        <i class="fa-solid fa-people-group"></i><strong>Club: </strong>
        <td><%= player['club-infos'].club %></td>
      </p>
      <p class="details-player">
        <i class="fa-solid fa-trophy"></i><strong>League: </strong>
        <td><%= player['club-infos'].league %></td>
      </p>
      <p class="details-player">
        <i class="fa-solid fa-earth-americas"></i><strong>Country: </strong>
        <td><%= player.nationality %></td>
      </p>
      <p class="details-player">
        <i class="fa-solid fa-location-dot"></i> <strong>Position: </strong>
        <td><%= player.position %></td>
      </p>
      <span class="marketValue"
        ><i class="fa-solid fa-money-bill-transfer"></i>: <%= player.marketValue
        %></span
      >
    </div>
  </section>
  <section class="stats">
    <article class="number">
      <h4>Number</h4>
      <h3><%= player.number %></h3>
    </article>
    <article class="goals">
      <h4>Goals</h4>
      <h3><%= player.assists %></h3>
    </article>
    <article class="assists">
      <h4>Assists</h4>
      <h3><%= player.goalsScored %></h3>
    </article>
  </section>
  <!-- Ajoutez d'autres informations sur le joueur ici -->
</main>
<%- include("partials/footer") %>
